<a href="https://colab.research.google.com/github/jainr/intro-to-python/blob/master/Week3_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Knowledge Test

## Knowledge Test

1. True or False - List can only contain elements of one data type, for example, only strings or only numbers.

Answer - False

In [2]:
list_mixed = ["Mike", 1, 2,3]
print(list_mixed[0])
print(list_mixed[1])

Mike
1

2. For the list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"] remove spaces from the list

In [5]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
  if(i == ""):
    list1.remove(i)
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

Given two lists
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

Concatenate the lists so the output is ['My', 'name', 'is', 'Kelly']

In [19]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3=[]
list1_len = len(list1)
list2_len = len(list2)
i=0

if list1_len == list2_len:
  while i < list1_len:
    list3.append(list1[i] + list2[i])
    i+=1
else:
    print("List are not same size")

print(list3)

['My', 'name', 'is', 'Kelly']

4. Given a Python dictionary, Change Dillon's salary to 8500
sampleDict = {
     'emp1': {'name': 'Bob', 'salary': 7500},
     'emp2': {'name': 'Alice', 'salary': 8000},
     'emp3': {'name': 'Dillon', 'salary': 6500}
}

In [32]:
sampleDict = {
     'emp1': {'name': 'Bob', 'salary': 7500},
     'emp2': {'name': 'Alice', 'salary': 8000},
     'emp3': {'name': 'Dillon', 'salary': 6500}
}

for key in sampleDict: 
  if(sampleDict[key]['name'] == "Dillon"):
    sampleDict[key]['salary'] = 8500

print(sampleDict)

{'emp1': {'name': 'Bob', 'salary': 7500}, 'emp2': {'name': 'Alice', 'salary': 8000}, 'emp3': {'name': 'Dillon', 'salary': 8500}}

5. Which of the following is true for sets in python (chose all that applies)
- a. The elements is the set not be duplicate
- b. You can access the elemnts in a set using its index.
- c. The order of elements in set are unordered. 
- d. You cannot add elemnts to the set once created.

Answer - a,c

##Coding Exercise

1. Decode the code : You are given this dict word_frequency = {"a": 3, "c": 4, "e": 2, "k":1, "o": 5}
create the code word from it. Output should be aaacccceekooooo

In [40]:
word_frequency = {"a": 3, "c": 4, "e": 2, "k":1, "o": 5}
str = ""
for key in word_frequency:
  str+=key*(word_frequency[key])

print(str)

aaacccceekooooo

2. Write a function which takes a dollar amount and breaks it down into how many quaters (25 cents), dimes (10 cents), nickels (5 cents) and pennies (1 cent) would it contain.

Example:
2 dollar should return 8 quarters
2.41 dollar should return 9 quarters , 1 dime, 1 nickel and 1 penny

In [63]:
def change_amount(amount):
  dollar_amount = int(amount * 100) #changing to cent amount.
  if(dollar_amount>=0):
    number_of_quarters = dollar_amount//25
    dollar_amount = dollar_amount%25 
    number_of_dime = dollar_amount//10
    dollar_amount = dollar_amount%10 
    number_of_nickel = dollar_amount//5
    dollar_amount = dollar_amount%5
    number_of_penny = dollar_amount//1
    print("{} quaters, {} dime, {} nickel and {} penny".format(number_of_quarters,number_of_dime,number_of_nickel,number_of_penny))
  else:
    print("Amount invalid")


change_amount(2.46)

9 quaters, 2 dime, 0 nickel and 1 penny

Write code to roll two dice. Print Win if the value of the two dice is the same, otherwise keep rolling the dice.

In [85]:
import random

while True:
  dice1 = random.randint(1,6)
  dice2 = random.randint(1,6)
  print("Dice1 :: {}".format(dice1))
  print("Dice2 :: {}".format(dice2))
  if(dice1 == dice2):
    print("Win")
    break

Dice1 :: 5
Dice2 :: 6
Dice1 :: 1
Dice2 :: 1
Win