<a href="https://colab.research.google.com/github/jainr/intro-to-python/blob/master/Week2_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. For a string in variable s which of the following will will give the same result as s[0:-1]
- s[-1] 
- s[:] 
- s[:len(s)-1] 
- s[0:len(s)]

__Answer - c__

In [0]:
#Answer c
str = "Hello Boston"
str[:len(str)-1]

'Hello Bosto'

2. 2. True or False - This will give an error string_class = 'This is Aman's Class'

__Answer - Need double quotes to escape the " ' ", True__

In [0]:
str = 'This is Aman's Class'

SyntaxError: ignored

3. Which method will convert convert the String 
"welcome to the beautiful world of python" to "Welcome To The Beautiful World of Python"
- capitalize()
- title()

__Answer - title()__

In [0]:
str = "Welcome to the beatiful world of python"
str.title()

'Welcome To Tbe Beatiful World Of Python'

4. What is the output of the following code?
var= "James Bond"
print(var[2::-1])
- Jam
- dno
- maJ
- dnoB semaJ

__Answer - maJ, the third parameter in the slice function is step so in this case the index starts from 2 and goes till 0 since step is -1__

In [0]:
var= "James Bond" 
print(var[2::-1])

maJ

5. What is the output of the following code?

var = "James" * 2  * 3
print(var)

- JamesJamesJamesJamesJamesJames
- JamesJamesJamesJamesJames
- Error: invalid syntax

__Answer = James will be printed 6 times__
Thought it would throw syntax error, so addition and other math operator would results in type error but multiply works, sweet.

In [0]:
#var = "James" + 2  + 3
var = "James" * 2  * 3
var

'JamesJamesJamesJamesJamesJames'

6. True / False - The ‘in’ operator is used to check if a value exists within a string or list. 

__Answer = True__

In [0]:
str = "Hello, this is bob"
# "bob".in(str) #wrong syntax
"bob" in str

True

7. Define a string str = " A block of cheese i do not need ". Write code to sort the string alphabetically.

In [0]:
str = " A block of cheese i do not need "
# str.strip()
s = str.split()
s.sort()

" ".join(s).strip()

'A block cheese do i need not of'

In [0]:
Write the code to count the number of occurences of a string in another string. Use the example from the class. 
str_to_be_found = "ain" str_primary = "The rain in spain only happens in plains" 
[Hint: https://docs.python.org/3/library/stdtypes.html#string-methods]

In [0]:
str_primary = "The rain in spain only happens in plains" 
str_to_be_found = "ain"


str_primary.count(str_to_be_found)

3

##Coding Project
1.  Write the code to pick a random WORD from the string "This is a random word string"

In [0]:
str = "This is a random word string"
arr = str.split()
print(arr[random.randint(0, len(arr) -1)])

string

2. Given the string as a input "English = 78, Science = 83, Math = 68, History = 65”.
Write code to calculatge average marks

In [37]:
#Not sure if I need this complex of a solution to use regex, but couldn't figure
# out how to remove the comma at end of number


import re
marks_str = "English = 78, Science = 83, Math = 68, History = 65"
counter = 0
sum =0
marks_list = re.split(r'(=|,)\s*', marks_str) 
# marks_list = marks_str.split()
print(marks_list)


for i in marks_list:
  if(i.isdigit()):
    counter = counter +1
    sum= sum + int(i)
    print(i)

print(sum)
avg = sum/counter
print(avg)

['English ', '=', '78', ',', 'Science ', '=', '83', ',', 'Math ', '=', '68', ',', 'History ', '=', '65']
78
83
68
65
294
73.5

3. Build a calendar function which take a date in mm-dd-yyy and prints its english version. For example 05-22-2020 will be printed as 22nd of May 2020

In [51]:
def print_date(num_date):
  date_list = num_date.split("-")
  print(date_list)
  i = int(date_list[1])
  year = date_list[2]
  cal_list = ["January", "Februrary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
  month = cal_list[int(date_list[0])-1]

  if(i%10 == 1 and i!=11 ):
    suffix = "st"
  elif(i%10 == 2 and i!=12 ):
    suffix = "nd"
  elif(i%10 == 3 and i!=13 ):
    suffix = "rd" 
  else:
    suffix = "th"
  print("{}{} of {} {}".format(i,suffix, month, year))


print_date("04-01-2020")
print_date("04-11-2020")
print_date("04-21-2020")
print_date("04-02-2020")
print_date("04-03-2020")
print_date("04-04-2020")
print_date("04-21-2020")
print_date("04-22-2020")
print_date("04-23-2020")
print_date("04-24-2020")

['04', '01', '2020']
1st of April 2020
['04', '11', '2020']
11th of April 2020
['04', '21', '2020']
21st of April 2020
['04', '02', '2020']
2nd of April 2020
['04', '03', '2020']
3rd of April 2020
['04', '04', '2020']
4th of April 2020
['04', '21', '2020']
21st of April 2020
['04', '22', '2020']
22nd of April 2020
['04', '23', '2020']
23rd of April 2020
['04', '24', '2020']
24th of April 2020

In [40]:
1%10

1